#adopt.loading section#loading {
	display: block;
}

#adopt.loading section#pets,
#adopt.loading section#people {
	display: none;
}

#adopt.loaded section#loading {
	display: none;
}

#adopt.loading section#pets,
#adopt.loading section#people {
	display: none;
}

#adopt #pets {
	display: flex;
}

#adopt #pets section {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#adopt #people {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#adopt #message {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

#re-queue-btn {
	height: 2rem;
	width: 65%;
	margin-top: 1rem;
}

@media all and (min-width: 500px) {
	#pets {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	main {
		width: 65%;
	}
}
