.pet-section button {
	font-size: 2rem;
	margin-top: 1rem;
	padding: 0.5rem 2rem;
}

.pet-div {
	width: 100%;
}

.pet-div #pet-img {
	background-position: center center;
	background-size: cover;
	height: 250px;
	width: 100%;
}

.pet td:first-child {
	padding-right: 1rem;
	font-weight: 600;
}
